*, html {
  font-family:  "DejaVu Sans Mono",
                ui-monospace,
                Menlo,
                Monaco,
                "Cascadia Mono",
                "Segoe UI Mono",
                "Courier New",
                monospace, monospace;

  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;

  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  margin: 0;

  color: #e3dabe;
  overflow: hidden;
}

body {
  background-color: #302e2c;
}

@keyframes fadein {
  from    { color: #302e2c }
}

#helper_block {
  width: 10px;
  height: 10px;
}

#board {
  position: absolute;
  overflow: visible;
  
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 90vw;
  height: 90vw;

  max-width: 1000px;
  max-height: 1000px;
}

.row {
  display: flex;
  overflow: visible;
  
  height: 10px;

  justify-content: center;
  width: 100vw;
}

span {
  animation-name: fadein;
  animation-duration: 1s;

  box-sizing: content-box;
  display: inline-table;
  text-align: center;

  width: 10px;
  min-width: 10px;
  height: inherit;
  font-size: 8px;
}

.white      { color: #e3dabe; }
.light_grey { color: #e3dabeb0; }
.grey       { color: #e3dabe70; }
.dark_grey  { color: #e3dabe50; }
.red        { color: #ffa3a3; }
.blue       { color: #a9ddfa; }
