:root {
    --size: 11px;

    --red:          #eb8f99;
    --orange:       #faaf8d;
    --yellow:       #ebca89;
    --green:        #bed195;
    --cyan:         #a6d1c2;
    --blue:         #aec2e0;
    --purple:       #dbb2d9;
    --pre-black:    #2b2b2b;
    --black:        #353535;
    --dark-grey:    #474747;
    --grey:         #5c5c5c;
    --light-grey:   #7b7b7b;
    --pre-white:    #adadad;
    --white:        #e3e3e3;

    --pre-black-transparent: #262626b0;
}

*, html {
    font-family: "Roboto Mono",
                 "DejaVu Sans Mono",
                 ui-monospace,
                 Menlo,
                 Monaco,
                 "Cascadia Mono",
                 "Segoe UI Mono",
                 "Courier New",
                 monospace, monospace;

    -ms-text-size-adjust:       100%;
    -webkit-text-size-adjust:   100%;

    font-size:  var(--size);
    color:      var(--white);

    margin: 0;

    overflow: hidden;
}

body {
    background-color: var(--black);
}

s {
    color: var(--pre-white);
}



@keyframes spin {
    from    { transform:rotate(0deg); }
    to      { transform:rotate(90deg); }
}

@keyframes slide_x {
    0%      { transform: translateX(10%); }
    50%     { transform: translateX(-10%); }
    100%    { transform: translateX(10%); }
}

@keyframes slide_y {
    0%      { transform: translateY(10px); }
    50%     { transform: translateY(-10px); }
    100%    { transform: translateY(10px); }
}

@keyframes fadein {
    from    { opacity: 0; }
    to      { opacity: 1; }
}

@keyframes load_fadein {
    0%  { opacity: 0; }
    50% { opacity: 0; }
}

@keyframes delayed_load_fadein {
    0%  { opacity: 0; }
    80% { opacity: 0; }
}

#loading-screen {
    position: absolute;

    width:  100%;
    height: 100%;

    background-color: var(--pre-black);

    z-index: 99 !important;
}

#loading-container {
    position: absolute;

    top:    50%;
    width:  100%;

    overflow: visible;

    transform: translateY(-50%);
}

#slide_x {
    overflow: visible;

    margin-top: 15px;
    height:     25px;

    animation:          slide_x 2s ease-in-out infinite;
    animation-delay:    -0.25s;
}

#slide_y {
    margin-left:    calc(50% - var(--size) * 3 / 10);
    margin-bottom:  calc(var(--size) * 3 / 10);
    width:          calc(var(--size) * 3 / 5);
    height:         calc(var(--size) * 3 / 5);
    border-radius:  calc(var(--size) * 3 / 10);

    background-color: var(--white);

    animation:  slide_y 1s ease-in-out infinite,
                load_fadein 2s ease-in-out;
}

#message {
    text-align: center;

    animation: delayed_load_fadein 4s ease-in-out;
}



#button-container {
    display: flex;
    flex-direction: row-reverse;
}

.menu-button {
    right:  0;
    top:    0;

    min-width:      calc(var(--size) * 2.5);
    height:         calc(var(--size) * 2.5);
    margin:         var(--size);
    margin-left:    0;
    padding-left:   calc(var(--size) * 0.75);
    padding-right:  calc(var(--size) * 0.75);
    border-radius:  calc(var(--size) / 2);

    border: none;

    outline: none;

    background-color: var(--dark-grey);

    z-index: 999;
}

.menu-button:hover {
    background-color: var(--grey);
}



#info-panel {
    position: absolute;

    margin:         var(--size);
    padding:        calc(var(--size) / 1.75);
    padding-left:   calc(var(--size) * 0.75);
    padding-right:  calc(var(--size) * 0.75);
    border-radius:  calc(var(--size) / 2);

    background-color: var(--pre-black-transparent);

    z-index: 98 !important;
}



#pause-screen {
    position: absolute;

    left:   0;
    top:    0;

    width:  100%;
    height: 100%;

    background-color: var(--pre-black-transparent);

    z-index: 99 !important;
}

#text-box-container {
    position: absolute;

    left:   50%;
    top:    calc(50% - var(--size) * 1.25);

    transform: translateX(-50%);

    width:      80%;
    max-width:  500px;

    height:         calc(var(--size) * 2.5);
    border-radius:  calc(var(--size) / 2);

    color:              var(--pre-white);
    background-color:   var(--black);

    border-style: none;

    animation: fadein 0.2s ease 1;

    z-index: 101 !important;
}

#text-box {
    position: absolute;

    left:   calc(var(--size) / 2);
    width:  calc(100% - var(--size) * 2.5 - var(--size));
    height: calc(var(--size) * 2.5);

    background-color: inherit;

    outline: none;

    border-style: none;
}

#text-box:focus {
    outline: none;
}

#text-box-button {
    position: absolute;

    right:  0;
    top:    0;

    width:  calc(var(--size) * 2.5);
    height: 100%;

    border: none;
    background-color: var(--dark-grey);
}

#text-box-button:hover {
    background-color: var(--grey);
}

#help-panel-container {
    position: absolute;

    left:   50%;
    top:    100%;

    transform: translateX(-50%);

    width:      80%;
    max-width:  500px;

    z-index: 100 !important;
}



#help-panel {
    box-sizing: border-box;
    position: relative;

    padding:        calc(var(--size) / 1.75);
    padding-left:   calc(var(--size) * 0.75);
    padding-right:  calc(var(--size) * 0.75);
    border-radius:  calc(var(--size) / 2);

    background-color: var(--black);
}

#help-panel-spacer {
    position: relative;
    height: var(--size);
}

tab {
    display: block;
    margin-left: 4ch;
}



.movable {
    position: absolute;

    left:           calc(50% - var(--size) * 3 / 10);
    top:            calc(50% - var(--size) * 3 / 10);

    width:          calc(var(--size) * 3 / 5);
    height:         calc(var(--size) * 3 / 5);
    border-radius:  calc(var(--size) * 3 / 10);

    background-color: var(--white);

    animation: fadein 1s ease-in-out 1;
}

.dead   { background-color: var(--grey) !important; }
#enemy  { background-color: var(--red); }
#player { background-color: var(--green); }
#dummy  { background-color: var(--orange); }

#movable-helper {
    left:   -1000px;
    top:    -1000px;

    color: #00000000 !important;

    opacity: 0 !important;
}



.red        { color: var(--red) !important; }
.orange     { color: var(--orange) !important; }
.yellow     { color: var(--yellow) !important; }
.green      { color: var(--green) !important; }
.cyan       { color: var(--cyan) !important; }
.blue       { color: var(--blue) !important; }
.purple     { color: var(--purple) !important; }
.pre-black  { color: var(--pre-black) !important; }
.black      { color: var(--black) !important; }
.dark-grey  { color: var(--dark-grey) !important; }
.grey       { color: var(--grey) !important; }
.light-grey { color: var(--light-grey) !important; }
.pre-white  { color: var(--pre-white) !important; }
.white      { color: var(--white) !important; }

.red-bg         { background-color: var(--red) !important; }
.orange-bg      { background-color: var(--orange) !important; }
.yellow-bg      { background-color: var(--yellow) !important; }
.green-bg       { background-color: var(--green) !important; }
.cyan-bg        { background-color: var(--cyan) !important; }
.blue-bg        { background-color: var(--blue) !important; }
.purple-bg      { background-color: var(--purple) !important; }
.pre-black-bg   { background-color: var(--pre-black) !important; }
.black-bg       { background-color: var(--black) !important; }
.dark-grey-bg   { background-color: var(--dark-grey) !important; }
.grey-bg        { background-color: var(--grey) !important; }
.light-grey-bg  { background-color: var(--light-grey) !important; }
.pre-white-bg   { background-color: var(--pre-white) !important; }
.white-bg       { background-color: var(--white) !important; }
